@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: $color-black;
    color: $color-white;
    overflow-x: hidden;
    overflow-y: auto;
}

a {
    text-decoration: none;
    color: $color-white;
}

input {
    outline: none;
}

main {
    margin-top: 80px;
}
